<content-component [title]="'Parqueaderos'">
    <div class="d-flex justify-content-between mb-2">
        <p>Gestiona tus parqueaderos</p>
        <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Registrar Parqueadero</button>
      </div>
      <div class="row">
        <div class="col">
          <div class="card shadow mb-4">
            <div class="card-header py-3">Mis Parqueaderos</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <th>Parqueadero</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Acciones</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Mi Empresa</td>
                      <td>Mi Empresa</td>
                      <td>Mi Empresa</td>
                      <td>
                        <div class="btn-group">
                            <button class="btn btn-info btn-small">Editar</button>
                            <button class="btn btn-danger btn-small">Eliminar</button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
</content-component>