<div class="bg-login-image-pc">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block">
                <div class="bg-login-image-password"></div>
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">
                      Ingresa tu nueva contraseña
                    </h1>
                    <p class="mb-4">
                      A tu correo debio haber llegado un codigo con el cual
                      podras realizar el cambio de tu contraseña, recuerda tu
                      contraseña debe ser minimo de 8 caracteres.
                    </p>
                  </div>
                  <form [formGroup]="changePasswordForm" class="user">
                    <div class="form-group">
                      <input
                        type="text"
                        formControlName="code"
                        class="form-control form-control-user"
                        placeholder="Ingresa tu código"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="password"
                        formControlName="password"
                        class="form-control form-control-user"
                        placeholder="Ingresa tu contraseña"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="password"
                        formControlName="confirm"
                        class="form-control form-control-user"
                        placeholder="Confirma tu contraseña"
                      />
                    </div>
                    <span
                      [class.text-danger]="!changePasswordForm.errors?.match"
                      *ngIf="!changePasswordForm.errors?.match"
                      >las contraseñas no coinciden</span
                    >
                    <button
                      class="btn btn-primary btn-user btn-block"
                      (click)="changePassword()"
                      [disabled]="
                        !changePasswordForm.errors?.match || isLoading
                      "
                    >
                      Cambiar Contraseña
                    </button>
                  </form>
                  <hr />
                  <alert-message
                    [error]="errorResponse"
                    [details]="false"
                    *ngIf="showError"
                  ></alert-message>
                  <div class="text-center">
                    <a [routerLink]="'/'" class="small"
                      >Ya tengo una cuenta, Iniciar sesión!</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
