<content-component [title]="'Configuración'">
  <div class="d-flex justify-content-between mb-2">
    <p>Gestiona los permisos de tus usuarios</p>
  </div>
  <div class="row">
    <div class="col">
      <div class="card shadow mb-4">
        <div class="card-header py-3">Mis Usuarios</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <th>Usuario</th>
                <th>Role</th>
                <th>Permisos</th>
                <th>Acciones</th>
              </thead>
              <tbody>
                <tr *ngFor="let user of userData">
                  <td>{{user.username}}</td>
                  <td>{{user.roleName}}</td>
                  <td>
                    <span class="badge badge-info mr-1">Crear</span>
                    <span class="badge badge-info mr-1">Editar</span>
                    <span class="badge badge-info">Eliminar</span>
                  </td>
                  <td>
                    <div class="btn-group">
                      <button *ngIf="userPermissions.update" class="btn btn-info btn-sm btn-small" data-bs-toggle="modal"
                        data-bs-target="#modalDefineConfig"><i class="fa fa-edit"></i></button>
                      <button class="btn btn-primary btn-sm btn-small"><i class="fa fa-cog"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <modal-component [idModal]="'modalDefineConfig'" [modalTitle]="'Configuración de Permisos'" [modalLarge]="true">
    <div class="row">
      <div class="col">
        <h5 class="no-margin">Registra tus permisos</h5>
        <small>Define la configuracion de los servicios por cada usuario</small>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        <h3>Modulos</h3>
        <hr>
        <div class="row">
          <div class="col-6" *ngFor="let module of modules">
            <div class="custom-control custom-checkbox small">
              <input type="checkbox" class="custom-control-input" id="{{module.id}}" (click)="setUserModule(module)">
              <label class="custom-control-label" for="{{module.id}}">{{module.prop}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <h3>Permisos</h3>
        <hr>
        <div class="form-group" *ngFor="let permission of permissions">
          <div class="custom-control custom-checkbox small">
            <input type="checkbox" class="custom-control-input" id="{{permission.name}}" (click)="setUserPermissions(permission)">
            <label class="custom-control-label" for="{{permission.name}}">{{permission.name}}</label>
          </div>
        </div>
        <button class="btn btn-primary" (click)="saveMenuAndUserPermissions()">Guardar Configuración</button>
      </div>
    </div>
  </modal-component>
</content-component>
