<div class="bg-login-image-pc">
  <div class="top-bar-celeste d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between full-width">
      <h2 class="ml-5 text-color-white">Celeste CMS</h2>
      <small class="mr-5 text-color-white">Version 1.0.0</small>
    </div>
  </div>
  <div class="container">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-lg-6">
          <div class="p-5">
            <div class="alert alert-danger text-center" [hidden]="!errorAuthentication">Usuario y/o contraseña invalidos</div>
            <div class="text-center">
              <h1 class="h4 mb-4 text-color-white">Celeste CMS</h1>
            </div>
            <form [formGroup]="authLoginForm" class="user">
              <div class="form-group">
                <input type="text" formControlName="username" class="form-control form-control-user" id="exampleInputEmail"
                  aria-describedby="emailHelp" placeholder="Ingresa tu Usuario" autofocus>
              </div>
              <div class="form-group">
                <input type="password" formControlName="password" class="form-control form-control-user" id="exampleInputPassword"
                  placeholder="Contraseña">
              </div>
              <div class="form-group">
                <div class="custom-control custom-checkbox small">
                  <input type="checkbox" class="custom-control-input" id="customCheck">
                  <label class="custom-control-label text-color-white" for="customCheck">Recordar datos de sesión</label>
                </div>
              </div>
              <button class="btn btn-primary btn-user btn-block" (click)="initSession()" [disabled]="authLoginForm.invalid || isLoading">
                {{ (isLoading) ? 'Ingresando ...' : 'Ingresar' }}
              </button>
            </form>
            <hr>
            <div class="text-center">
              <a class="small text-color-white">¿Olvidaste tu contraseña?</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-none d-lg-block bg-login-image-white"></div>
      </div>
    </div>
    <div class="footer">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-center">
            <span class="text-color-white">Todos los derechos reservados &copy; 2021</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

