.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh !important;
  position: relative;
}

.top-bar-celeste {
  height: 10vh;
  background-color: #4e73df;
  width: 100%;
  position: fixed;
}

.footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 100px;
}
