<content-component [title]="'Usuarios'">
  <div class="d-flex justify-content-between mb-2">
    <p>Gestiona tus usuarios</p>
    <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Registrar Usuario</button>
  </div>
</content-component>
<!-- <p-table [value]="users">
  <ng-template pTemplate="header">
      <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
      <tr>
          <td>{{product.code}}</td>
          <td>{{product.name}}</td>
          <td>{{product.category}}</td>
          <td>{{product.quantity}}</td>
      </tr>
  </ng-template>
</p-table> -->
