<content-component [title]="'Zonas'">
  <div class="d-flex justify-content-between mb-2">
    <p>Gestiona tus Zonas</p>
    <button data-bs-toggle="modal" data-bs-target="#modalCreateAndEditZone"
      class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" (click)="showModalCreateZone()"
      *ngIf="userPermissions.create">Registrar Zona</button>
  </div>
  <div class="row">
    <div class="col">
      <data-table [title]="'Zonas'" [pages]="amountOfPages" [rows]="amountOfRows" (emitPage)="selectedPage($event)">
        <data-filter [filterFields]="dataTableHead" (emitFilter)="applyFilter($event)"
          (emitRestore)="restoreFilter($event)"></data-filter>
        <thead>
          <ng-container *ngFor="let thead of dataTableHead | keyvalue">
            <th class="pointer" (click)="sort(thead.value.field)" aria-sort="ascending">
              {{thead.value.title}}
              <i class="fa fa-sort mr-1" *ngIf="thead.value.isSort"></i>
              <i class="fa fa-arrow-{{(isDescOrAsc) ? 'down' : 'up'}}"></i>
            </th>
          </ng-container>
        </thead>
        <tbody>
          <ng-container *ngIf="zoneData.length === 0; else showZonesRecords">
            <tr>
              <td [attr.colspan]="dataTableHead.length" class="text-center">No hay zonas registradas</td>
            </tr>
          </ng-container>
          <ng-template #showZonesRecords>
            <ng-container *ngFor="let zone of zoneData">
              <tr>
                <td>{{zone.name}}</td>
                <td>{{zone.companyName}}</td>
                <td>{{zone.statusName}}</td>
                <td>
                  <div class="btn-group">
                    <button class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#modalCreateAndEditZone"
                      (click)="showModalZonaWithData(zone)" *ngIf="userPermissions.update">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" (click)="deleteZone(zone)" *ngIf="userPermissions.delete">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-template>
        </tbody>
      </data-table>
    </div>
  </div>
  <modal-component #modalCreateAndEditZone [idModal]="'modalCreateAndEditZone'" [modalTitle]="'Registrar Zonas'"
    [modalLarge]="true">
    <div class="row">
      <div class="col">
        <h5 class="no-margin">Registra tus zonas</h5>
        <small>Registra las zonas que necesitas</small>
        <alert-message [error]="zoneErrorService" *ngIf="showErrorZoneService"></alert-message>
        <form class="mt-3" [formGroup]="formZone">
          <combobox formControlName="companyId" [label]="'Empresa'" [name]="'companyId'"
            [endpoint]="'api/ComboBoxGeneral/GetCompanies'">
          </combobox>
          <div class="form-group">
            <label for="firstname">Nombre de la Zona</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <ng-container *ngIf="isEditZone then edit else create"></ng-container>
          <ng-template #edit>
            <button type="submit" class="btn btn-primary btn-modal-create" [disabled]="formZone.invalid"
              (click)="updateZone()">Actualizar Zona</button>
          </ng-template>
          <ng-template #create>
            <button type="submit" class="btn btn-primary btn-modal-create" [disabled]="formZone.invalid"
              (click)="createZone()">Guardar Zona</button>
          </ng-template>
        </form>
      </div>
    </div>
  </modal-component>
</content-component>
