<div class="card shadow mb-4">
  <div class="card-header py-3">{{title}}</div>
  <div class="card-body">
    <div class="table-responsive">
      <div class="d-flex mb-1">
        <button class="btn btn-sm btn-success mr-1" *ngIf="export" (click)="exportToExcel()" disableOnRequest>Excel</button>
        <button class="btn btn-sm btn-info mr-1" *ngIf="reload" (click)="reloadTheGrid()" disableOnRequest>Actualizar Datos</button>
      </div>
      <ng-content select="data-filter"></ng-content>
      <table class="table table-bordered">
        <ng-content select="thead"></ng-content>
        <ng-content select="tbody"></ng-content>
      </table>
      <div class="d-flex justify-content-between" *ngIf="pagination">
        <div class="dataTables_info">Mostrando 1 - 10 de {{rows}} registros</div>
        <div class="dataTables_paginate paging_simple_numbers">
          <ul class="pagination">
            <li class="paginate_button page-item previous" [class.disabled]="currentPage === 0">
              <a href="javascript:" class="page-link" (click)="previousPage()">Anterior</a>
            </li>
            <li class="paginate_button page-item" [class.active]="i === currentPage" *ngFor="let page of [].constructor(pages); let i = index">
              <a href="javascript:" class="page-link" (click)="setPage(i)">{{i + 1}}</a>
            </li>
            <li class="paginate_button page-item next" [class.disabled]="currentPage === pages - 1">
              <a href="javascript:" class="page-link" (click)="nextPage()">Siguiente</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
