<content-component [title]="'Configuración'">
  <div class="d-flex justify-content-between mb-2">
    <p>Gestiona los permisos de tus usuarios</p>
  </div>
  <div class="row">
    <div class="col">
      <div class="card shadow mb-4">
        <div class="card-header py-3">Mis Usuarios</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <th>Usuario</th>
                <th>Role</th>
                <th>Permisos</th>
                <th>Acciones</th>
              </thead>
              <tbody>
                <tr>
                  <td>vfrancov</td>
                  <td>Admin</td>
                  <td>
                    <span class="badge badge-info mr-1">Crear</span>
                    <span class="badge badge-info mr-1">Editar</span>
                    <span class="badge badge-info">Eliminar</span>
                  </td>
                  <td>
                    <div class="btn-group">
                      <button class="btn btn-info btn-sm btn-small" data-bs-toggle="modal"
                        data-bs-target="#modalDefineConfig"><i class="fa fa-edit"></i></button>
                      <button class="btn btn-primary btn-sm btn-small"><i class="fa fa-cog"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <modal-component [idModal]="'modalDefineConfig'" [modalTitle]="'Configuración de Permisos'" [modalLarge]="true">
    <div class="row">
      <div class="col">
        <h5 class="no-margin">Registra tus permisos</h5>
        <small>Define la configuracion de los servicios por cada usuario</small>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        <div class="d-flex align-items-center justify-content-center">
          <i class="fa fa-user fa-10x"></i>
        </div>
        <div class="d-flex justify-content-center mt-2">
          <p>vfranco</p>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label>Escoje el modulo</label>
          <select class="form-control">
            <option value="">Selecciona el Modulo</option>
            <option value="">Empresas</option>
            <option value="">Zonas</option>
            <option value="">Novedades</option>
            <option value="">Tarifas</option>
          </select>
        </div>
        <div class="form-group">
          <div class="custom-control custom-checkbox small">
            <input type="checkbox" class="custom-control-input" id="create">
            <label class="custom-control-label" for="create">Crear</label>
          </div>
        </div>
        <div class="form-group">
          <div class="custom-control custom-checkbox small">
            <input type="checkbox" class="custom-control-input" id="edit">
            <label class="custom-control-label" for="edit">Editar</label>
          </div>
        </div>
        <div class="form-group">
          <div class="custom-control custom-checkbox small">
            <input type="checkbox" class="custom-control-input" id="delete">
            <label class="custom-control-label" for="delete">Eliminar</label>
          </div>
        </div>
        <button class="btn btn-primary">Guardar Configuración</button>
      </div>
    </div>
  </modal-component>
</content-component>
