<content-component [title]="'Zonas'">
  <div class="d-flex justify-content-between mb-2">
    <p>Gestiona tus Zonas</p>
    <button data-bs-toggle="modal" data-bs-target="#modalCreateAndEditZone"
      class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" (click)="showModalCreateZone()">Registrar Zona</button>
  </div>
  <div class="row">
    <div class="col">
      <data-table [title]="'Zonas'">
        <thead>
          <ng-container *ngFor="let thead of dataTableHead">
            <th>{{thead}}</th>
          </ng-container>
        </thead>
        <tbody>
          <ng-container *ngIf="zoneData.length === 0; else showZonesRecords">
            <tr>
              <td [attr.colspan]="dataTableHead.length" class="text-center">No hay zonas registradas</td>
            </tr>
          </ng-container>
          <ng-template #showZonesRecords>
            <ng-container *ngFor="let zone of zoneData">
              <tr>
                <td>{{zone.name}}</td>
                <td>{{zone.statusName}}</td>
                <td>
                  <div class="btn-group">
                    <button class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#modalCreateAndEditZone" (click)="showModalZonaWithData(zone)">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" (click)="deleteZone(zone)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-template>
        </tbody>
      </data-table>
    </div>
  </div>
  <modal-component #modalCreateAndEditZone [idModal]="'modalCreateAndEditZone'" [modalTitle]="'Registrar Zonas'"
    [modalLarge]="true">
    <div class="row">
      <div class="col">
        <h5 class="no-margin">Registra tus zonas</h5>
        <small>Registra las zonas que necesitas</small>
        <div class="alert alert-danger text-center mt-3" *ngIf="showErrorZoneService">
          {{zoneErrorService?.error.message}}</div>
        <form class="mt-3" [formGroup]="formZone">
          <div class="form-group">
            <label for="firstname">Empresa</label>
            <select class="form-control" formControlName="companyId">
              <option value="0">Seleccionar Empresa</option>
              <option value="1">Empresa Dummy</option>
            </select>
          </div>
          <div class="form-group">
            <label for="firstname">Nombre de la Zona</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <ng-container *ngIf="isEditZone then edit else create"></ng-container>
          <ng-template #edit>
            <button type="submit" class="btn btn-primary btn-modal-create" [disabled]="formZone.invalid"
            (click)="updateZone()">Actualizar Zona</button>
          </ng-template>
          <ng-template #create>
            <button type="submit" class="btn btn-primary btn-modal-create" [disabled]="formZone.invalid"
            (click)="createZone()">Guardar Zona</button>
          </ng-template>
        </form>
      </div>
    </div>
  </modal-component>
</content-component>
