<content-component [title]="'Zonas'">
  <div class="d-flex justify-content-between mb-2">
    <p>Gestiona tus Zonas</p>
    <button data-bs-toggle="modal" data-bs-target="#modalCreateAndEditZone"
      class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Registrar Zona</button>
  </div>
  <div class="row">
    <div class="col">
      <data-table [title]="'Zonas'">
        <thead>
          <ng-container *ngFor="let thead of dataTableHead">
            <th>{{thead}}</th>
          </ng-container>
        </thead>
        <tbody>
          <ng-container *ngIf="zoneData.length === 0; else showZonesRecords">
            <tr>
              <td [attr.colspan]="dataTableHead.length" class="text-center">No hay zonas registradas</td>
            </tr>
          </ng-container>
          <ng-template #showZonesRecords>
            <ng-container *ngFor="let zone of zoneData">
              <tr>
                <td>{{zone.name}}</td>
                <td>{{zone.statusName}}</td>
                <td>
                  <div class="btn-group">
                    <button class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#modalCreateAndEditZone">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-danger btn-sm">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-template>
        </tbody>
      </data-table>
    </div>
  </div>
  <modal-component [idModal]="'modalCreateAndEditZone'" [modalTitle]="'Registrar Zonas'" [modalLarge]="true">
    <div class="row">
      <div class="col">
        <h5 class="no-margin">Registra tus zonas</h5>
        <small>Registra las zonas que necesitas</small>
        <form class="mt-3">
          <div class="form-group">
            <label for="firstname">Nombre de la Zona</label>
            <input type="text" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary btn-modal-create">Guardar Zona</button>
        </form>
      </div>
    </div>
  </modal-component>
</content-component>
