<content-component [title]="'Novedades'">
  <div class="d-flex justify-content-between mb-2">
    <p>Gestiona tus novedades</p>
    <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-bs-toggle="modal"
      data-bs-target="#modalCreateOrEditNoveltie" (click)="prepareForm()" *ngIf="userPermissions.create">Crear Novedad</button>
  </div>
  <div class="row">
    <div class="col">
      <div class="card shadow mb-4">
        <div class="card-header py-3">Mis Novedades X</div>
        <div class="card-body">
          <div class="row">
            <ng-container *ngFor="let noveltie of novelties">
              <div class="col-3 mb-3">
                <div class="card">
                  <div class="card-body">
                    <div class="text-center mb-3">
                      {{noveltie.name}}
                    </div>
                    <div class="d-flex justify-content-center">
                      <img [src]="noveltie.imagenUrl" class="image image-square" width="100">
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex justify-content-around">
                        <button class="btn btn-danger btn-sm cursor-pointer" (click)="deleteNoveltie(noveltie)" *ngIf="userPermissions.update"><i
                            class="fa fa-trash"></i></button>
                        <button class="btn btn-warning btn-sm cursor-pointer ml-1" data-bs-toggle="modal"
                          data-bs-target="#modalAssignSubNovelties" (click)="getNoveltyById(noveltie)" *ngIf="userPermissions.delete"><i
                            class="fa fa-list"></i></button>
                      </div>
                      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCreateOrEditNoveltie"
                        (click)="getNoveltyById(noveltie)">Actualizar Novedad</button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <modal-component #modalCreateOrEditNoveltie [idModal]="'modalCreateOrEditNoveltie'"
    [modalTitle]="'Registrar Novedad'">
    <div class="row">
      <div class="col">
        <alert-message [error]="errorNoveltieService" [response]="showErrorService"></alert-message>
        <form [formGroup]="formNoveltie">
          <div class="form-group">
            <label for="">Nombre de la novedad</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <combobox formControlName="typeNoveltyId" [label]="'Tipo de Novedad'" [name]="'typeNoveltyId'"
            [endpoint]="'api/ComboBoxGeneral/GetTypeNovelty'">
          </combobox>
          <combobox formControlName="companyId" [label]="'Empresa'" [name]="'companyId'"
            [endpoint]="'api/ComboBoxGeneral/GetCompanies'">
          </combobox>
          <div class="form-group">
            <label class="btn btn-secondary btn-icon-split">
              <span for="uploadNoveltieImage" class="icon text-white-50">
                <i class="fas fa-file"></i>
              </span>
              <span class="text">{{imageName}}</span>
              <input id="uploadNoveltieImage" type="file" formControlName="fileName" (change)="onFileSelect($event)"
                [hidden]="true" accept=".jpg,.png">
            </label>
          </div>
          <div class="form-group d-flex justify-content-end">
            <ng-container *ngIf="isEditNovelty then edit else create"></ng-container>
            <ng-template #edit>
              <button class="btn btn-primary" (click)="updateNoveltie()" [disabled]="formNoveltie.valid"
                *ngIf="create">Actualizar Novedad</button>
            </ng-template>
            <ng-template #create>
              <button class="btn btn-primary" (click)="createNoveltie()" [disabled]="!formNoveltie.valid"
                *ngIf="create">Guardar Novedad</button>
            </ng-template>
          </div>
        </form>
      </div>
    </div>
  </modal-component>
  <modal-component #modalAssignSubNovelties [idModal]="'modalAssignSubNovelties'" [modalLarge]="true"
    [modalTitle]="'Registrar Subnovedad y Asociar'">
    <div class="row">
      <div class="col">
        <form [formGroup]="formSubNoveltie">
          <combobox formControlName="companyId" [label]="'Empresa'" [name]="'companyId'"
            [endpoint]="'api/ComboBoxGeneral/GetCompanies'">
          </combobox>
          <div class="form-group">
            <label for="">Nombre de la SubNovedad</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="form-group">
            <button class="btn btn-primary" (click)="createSubNoveltie()">Registrar Subnovedad</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="subnovelties-tab" data-bs-toggle="tab" data-bs-target="#subnovelties"
              type="button" role="tab" aria-controls="subnovelties" aria-selected="true">SubNovedades</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="association-tab" data-bs-toggle="tab" data-bs-target="#association"
              type="button" role="tab" aria-controls="association" aria-selected="false">Asociaciones</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="subnovelties" role="tabpanel" aria-labelledby="subnovelties-tab">
            <data-table [title]="'Sub Novedades'">
              <thead>
                <ng-container *ngFor="let thead of dataTableHead">
                  <th>{{thead}}</th>
                </ng-container>
              </thead>
              <tbody>
                <ng-container *ngFor="let subnoveltie of subNovelties">
                  <tr>
                    <td>{{subnoveltie.name}}</td>
                    <td>{{subnoveltie.statusName}}</td>
                    <td>
                      <button class="btn btn-info btn-sm btn-block"
                        (click)="associateNoveltieWithSubNoveltie(subnoveltie)"><i class="fa fa-arrow"></i>
                        Asociar</button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </data-table>
          </div>
          <div class="tab-pane fade" id="association" role="tabpanel" aria-labelledby="association-tab">
            <data-table [title]="'Asociaciones de Subnovedad'">
              <thead>
                <ng-container *ngFor="let thead of dataTableHead">
                  <th>{{thead}}</th>
                </ng-container>
              </thead>
              <tbody>
                <ng-container *ngFor="let noveltieandsubnoveltie of noveltiesAndSubNovelties">
                  <tr>
                    <td>{{noveltieandsubnoveltie.name}}</td>
                    <td class="text-center">
                      <div *ngIf="noveltieandsubnoveltie.appNoveltysId != 0; else notAssociated">
                        <i class="fa fa-check"></i>
                      </div>
                      <ng-template #notAssociated>
                        <span class="badge badge-info">No asociado</span>
                      </ng-template>
                    </td>
                    <td class="text-center">
                      <button class="btn btn-primary btn-sm btn-block"><i class="fa fa-arrow"></i>
                        Desasociar</button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </data-table>
          </div>
        </div>
      </div>
    </div>
  </modal-component>
</content-component>