<content-component [title]="'Facturación'">
  <div class="d-flex justify-content-between mb-2">
    <p>Facturación</p>
  </div>
  <div class="row">
    <div class="col">
      <data-table
        [title]="'Facturación'"
        [pages]="amountOfPages"
        [rows]="amountOfRows"
        [pagination]="true"
        (emitPage)="selectedPage($event)"
      >
        <data-filter
          [filterFields]="dataTableHead"
          (emitFilter)="applyFilter($event)"
          (emitRestore)="restoreFilter($event)"
        ></data-filter>
        <thead>
          <ng-container *ngFor="let thead of dataTableHead | keyvalue">
            <th
              class="pointer"
              (click)="sort(thead.value.field)"
              aria-sort="ascending"
            >
              {{ thead.value.title }}
              <i class="fa fa-sort mr-1" *ngIf="thead.value.isSort"></i>
              <i class="fa fa-arrow-{{ isDescOrAsc ? 'down' : 'up' }}"></i>
            </th>
          </ng-container>
        </thead>
        <tbody>
          <ng-container
            *ngIf="billingData.length === 0; else showInvoiceRecords"
          >
            <tr>
              <td [attr.colspan]="dataTableHead.length" class="text-center">
                No hay facturas registradas
              </td>
            </tr>
          </ng-container>
          <ng-template #showInvoiceRecords>
            <ng-container *ngFor="let bill of billingData">
              <tr>
                <td>{{ bill.identify }}</td>
                <td>{{ bill.email }}</td>
                <td>{{ bill.dateInit | date: "Y-m-d hh:mm:ss a" }}</td>
                <td>{{ bill.dateFinish | date: "Y-m-d hh:mm:ss a" }}</td>
                <td>{{ bill.totalValue | currency }}</td>
                <td>{{ bill.appFloorName }}</td>
                <td>{{ bill.appZoneName }}</td>
                <td>{{ bill.companyName }}</td>
                <td>
                  <div class="btn-group">
                    <button
                      class="btn btn-info btn-sm"
                      data-bs-toggle="modal"
                      data-bs-target="#modalInvoiceDetail"
                      (click)="showInvoiceDetailInModal(bill.id)"
                      title="Detalles"
                    >
                      <i class="fa fa-list"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-template>
        </tbody>
      </data-table>
    </div>
  </div>
</content-component>
<modal-component
  #modalInvoiceDetail
  [idModal]="'modalInvoiceDetail'"
  [modalTitle]="'Detalle de Recibo'"
>
  <div class="row">
    <div class="col">
      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
        Detalle Recibo
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <td>Recibo No</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Placa</td>
            <td>{{ invoiceDetails?.data.identify }}</td>
          </tr>
          <tr>
            <td>Fecha</td>
            <td>{{ invoiceDetails?.data.dateInit }}</td>
          </tr>
          <tr>
            <td>Valor Total</td>
            <td>{{ invoiceDetails?.data.totalValue }}</td>
          </tr>
          <tr>
            <td>Zona</td>
            <td>{{ invoiceDetails?.data.appZoneName }}</td>
          </tr>
          <tr>
            <td>Piso</td>
            <td>{{ invoiceDetails?.data.appFloorName }}</td>
          </tr>
        </table>
      </div>
      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
        Detalle Servicios
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr *ngFor="let service of invoiceDetails?.services">
            <td>{{ service.tariffsConcept }}</td>
          </tr>
        </table>
        <button class="btn btn-sm btn-info">
          <i class="fa fa-print"></i> Imprimir
        </button>
      </div>
    </div>
  </div>
</modal-component>
