<div id="page-top">
  <div id="wrapper">
    <sidebar-component></sidebar-component>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <topbar-component></topbar-component>
        <div *ngIf="isHome; then showDashboard else showPages"></div>
        <ng-template #showDashboard>
          <dashboard-component></dashboard-component>
        </ng-template>
        <ng-template #showPages>
          <router-outlet></router-outlet>
        </ng-template>
      </div>
    </div>
  </div>
</div>
