/* You can add global styles to this file, and also import other style files */

.bg-login-image {
  background: url('./assets/img/logo-celeste.png') center center;
  background-size: cover;
}

.bg-login-image-white {
  background: url('./assets/img/celeste-png-white.png') center center;
  background-size: cover;
}

.bg-login-image-pc {
  background: url('./assets/img/celeste-pc.jpg') center center;
  background-size: cover;
}

.text-color-white {
  color: #fff;
}

.bg-gradient-celeste {
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #d7e2ff 10%, #134fff 100%);
  background-size: cover;
}

.no-margin {
  margin: 0;
}

.full-width {
  width: 100%;
}

.pointer {
  cursor: pointer;
  background-color: #e8eefd;
}

.cursor-pointer {
  cursor: pointer;
}
.img-to-crop {
  max-width: 300px;
  object-fit: cover;
  max-height: 200px;
  height: auto;
  width: auto;
  display: block;
}

.img-cropped {
  max-height: 200px;
  width: auto;
  height: auto;
  object-fit: cover;
}
